@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

table tr:nth-child(even) {
  @apply bg-gray-50
}

input[type="text"]:disabled {
  @apply border-0 pl-0
}

select:disabled {
  @apply border-0 pl-0
}

select:disabled {
  background-image: none
}

input[type="reset"]:disabled, input[type="submit"]:disabled, button:disabled {
  @apply opacity-50 cursor-not-allowed
}
